@model Hospital_Management_System.Models.Patient

@{
    ViewBag.Title = "DeletePatient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Hasta</li>
        <li class="active">Hastayı Sil</li>
    </ol>
</div>

<h2>Hastayı Sil</h2>

<h3>Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Geri Dön", "ListOfPatients")
        </div>
    }
</div>
