@model Hospital_Management_System.Models.Announcement

@{
    ViewBag.Title = "DeleteAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Duyurular</li>
        <li class="active">Duyuruları Sil</li>
    </ol>
</div>

<h2>Duyuruları Sil</h2>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
